<ul class="sidebar-menu">
    <li class="header"><i class="fa fa-bars"></i> <span>NAV</span></li>
    <li class="active treeview">
        {{#link-to 'dashboard'}}
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        {{/link-to}}
    </li>
    <li class="treeview">
      {{#link-to 'schedule'}}
          <i class="fa fa-history"></i> <span>Schedule</span>
      {{/link-to}}
    </li>
    <li class="header"><i class="fa fa-life-ring"></i> <span>Support</span></li>
    <li><a href="#"><i class="fa fa-circle-o text-danger"></i> <span>Report a bug</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-warning"></i> <span>Featurerequest</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-info"></i> <span>Support</span></a></li>
</ul>
