<div class="wrapper">
  <!-- Header -->
  {{partial 'application/header'}}
  <!-- Left-Side-Column. Contains navigation menu, userpanel and search form -->
  {{partial 'application/left-side-column'}}
  <!-- Content Wrapper. Contains page content -->
  {{partial 'application/content-wrapper'}}
  <!-- Footer -->
  {{partial 'application/footer'}}
</div>
