<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {{partial 'application/content-wrapper/header'}}

    <!-- Main content -->
    {{partial 'application/content-wrapper/content'}}
</div>
