<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        {{partial 'application/left-side-column/sidebar/user-panel'}}
        <!-- search form -->
        {{partial 'application/left-side-column/sidebar/search-form'}}
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        {{partial 'application/left-side-column/sidebar/sidebar-menu'}}
    </section>
    <!-- /.sidebar -->
</aside>
